# Artefactos .NET
bin/
obj/
*.pdb

# IDE
.vs/
.vscode/
.idea/

# Node (si aplica)
node_modules/

# Logs
logs/
*.log

# Secretos locales
.env
appsettings.Staging.json

# Git y SO
.git/
.gitignore
.DS_Store
Thumbs.db
